<?xml version="1.0"?>
<ruleset name="Nolan Young Theme Template 01">
	<description>WordPress and PHP compatibility rules for the production theme.</description>
	<file>.</file>
	<exclude-pattern>*/assets/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="ps"/>
	<rule ref="WordPress"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="PHPCompatibilityWP">
		<properties>
			<property name="testVersion" value="7.4-"/>
		</properties>
	</rule>
	<config name="minimum_supported_wp_version" value="7.0"/>
	<config name="testVersion" value="7.4-"/>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="nolan-young-theme-template-01"/>
		</properties>
	</rule>
</ruleset>
