<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertDeprecationsToExceptions="false"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
>
	<testsuites>
		<testsuite name="Nolan Young Theme Template 01">
			<directory suffix=".php">tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
